# Check `docs/pipeline.md` to get info about this file

resources:
- name: <%= @name %>-repository
  type: git
  source:
    uri: <%= @git %>
    branch: master

- name: <%= @name %>-image
  type: docker-image
  source:
    repository: <%= @image %>
    username: {{docker_username}}
    password: {{docker_password}}

jobs:
- name: <%= @name %>
  serial: true
  plan:
  - get: <%= @name %>-repository
    trigger: true
  - put: <%= @name %>-image
    params:
      build: <%= @name %>-repository
