export projectid=<%= @values['gcp']['project_id'] %>

export region=<%= @values['gcp']['region'] %>
export zone=<%=@values['gcp']['zone'] %>
export service_account_email=terraform-bosh@<%= @values['gcp']['project_id'] %>.iam.gserviceaccount.com

export bastion_vm_name=bosh-bastion
