provider "google" {
  credentials = "${file("<%= @cloud['gcp']['service_account'] %>")}"
  project = "<%= @cloud['gcp']['project'] %>"
  region = "<%= @cloud['region'] %>"
}

resource "random_id" "name" {
  byte_length = 2
}
