# <%= @title %> CI

Run this commands to build and run the container:

```shell
make build
make run
```

Now check your [localhost](http://localhost:8080) in browser or curl it. You should see `Hello, <%= @title %>!`

To deploy the helm chart run `make deploy`.

For further documentation see `docs` directory.

