# Store terraform state in s3 bucket
 
terraform {
  backend "s3" {
    bucket = "<%= @cloud['aws']['bucket_name'] %>"
    key    = "<%= @env_name %>-terraform.tfstate"
    region = "<%= @cloud['region'] %>"
  }
}

data "terraform_remote_state" "network" {
  backend = "s3"
  config = {
    bucket = "<%= @cloud['aws']['bucket_name'] %>"
    key    = "network/terraform.tfstate"
    region = "<%= @cloud['region'] %>"
  }
}
