# Create a bucket for kite purposes
resource "aws_s3_bucket" "kite_bucket" {
  bucket_prefix  = "<%= @cloud['aws']['bucket_name'] %>"

  tags {
    Name         = "<%= @cloud['aws']['bucket_name'] %>"
    Component    = "kite-stack"
  }
}

output "bucket_name" {
  value = "${aws_s3_bucket.kite_bucket.id}"
}
