export AWS_ACCESS_KEY_ID=<%= @values['aws']['access_key_id'] %>
export AWS_SECRET_ACCESS_KEY=<%= @values['aws']['secret_access_key'] %>
export AWS_REGION=<%= @values['aws']['region'] %>
export AWS_AZ=<%= @values['aws']['az'] %>
export BOSH_PASSWORD=<%= @values['aws']['bosh_password'] %>
export AWS_KEYPAIR_KEY_NAME=<%= @values['aws']['keypair_name'] %>
export PRIVATE_KEY_PATH=<%= @values['aws']['private_key_path'] %>

export DB_PASSWORD=<%= @values['aws']['db_password'] %>
export CONCOURSE_URL=<%= @values['aws']['concourse_url'] %>
export CONCOURSE_AUTH_USERNAME=<%= @values['aws']['concourse_auth_username'] %>
export CONCOURSE_AUTH_PASSWORD=<%= @values['aws']['concourse_auth_password'] %>
