---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: <%= @image %>
    tag: tag/name
    username: _json_key
    password: ((gcr_password))

inputs:
- name: pull-requests
- name: tag

run:
  path: sh
  args: ["-exc", "cd pull-requests && echo 'Success'"]